@{
    Layout = null;
}

@model RestaurantBul.Models.ViewModel.PlaceAdditionalViewModel


<div class="row">

    @if (Model.Kahvalti == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.Kahvalti)</span>
            </label>
        </div>
    }

    @if (Model.CanliMuzik == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.CanliMuzik)</span>
            </label>
        </div>
    }

    @if (Model.DenizKenari == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.DenizKenari)</span>
            </label>
        </div>
    }

    @if (Model.DisMekan == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.DisMekan)</span>
            </label>
        </div>
    }

    @if (Model.HayvanDostu == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.HayvanDostu)</span>
            </label>
        </div>
    }

    @if (Model.OnlineRezervasyon == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.OnlineRezervasyon)</span>
            </label>
        </div>
    }

    @if (Model.Otopark == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.Otopark)</span>
            </label>
        </div>
    }

    @if (Model.PaketServis == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.PaketServis)</span>
            </label>
        </div>
    }

    @if (Model.SigaraAlanı == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.SigaraAlanı)</span>
            </label>
        </div>
    }

    @if (Model.TatlivePasta == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.TatlivePasta)</span>
            </label>
        </div>
    }

    @if (Model.TerasiVar == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.TerasiVar)</span>
            </label>
        </div>
    }

    @if (Model.Wifi == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.Wifi)</span>
            </label>
        </div>
    }

    @if (Model.İcMekan == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.İcMekan)</span>
            </label>
        </div>
    }

    @if (Model.AlkolServis == true)
    {
        <div class="col-md-6 col-lg-4">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">@Html.DisplayNameFor(x => x.AlkolServis)</span>
            </label>
        </div>
    }





</div>

