@model RestaurantBul.Models.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Famous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Famous)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
