
@model  RestaurantBul.Models.ViewModel.PlaceCommentViewModel

<!-- Mirrored from demo.web3canvas.com/themeforest/listed/detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Mar 2019 06:46:05 GMT -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Surjith S M">
    <meta name="description" content="#">
    <meta name="keywords" content="#">

    <script src="../../cdn-cgi/apps/head/-mEFVS8y7qx5pVzWHQTCQu5gnVM.js"></script>
    <link rel="shortcut icon" href="#">

    <title>Listed</title>

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/themify-icons.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/simple-line-icons.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/swiper.min.css">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/magnific-popup.css">

    <link href="~/Content/tempp/Sablon/listed/css/set1.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/tempp/Sablon/listed/css/style.css">
</head>

<body>

    <div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="" class="grid image-link">
                        <img width="75" src="@Model.MenuPic" class="img-fluid" alt="#" />
                        <img src="@Url.Content(Model.MenuPic)" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" class="grid image-link">
                        <img src="" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Content/tempp/Sablon/listed/images/feat_slide3.jpg" class="grid image-link">
                        <img src="~/Content/tempp/Sablon/listed/images/feat_slide3.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Content/tempp/Sablon/listed/images/feat_slide4.jpg" class="grid image-link">
                        <img src="~/Content/tempp/Sablon/listed/images/feat_slide4.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Content/tempp/Sablon/listed/images/feat_slide5.jpg" class="grid image-link">
                        <img src="~/Content/tempp/Sablon/listed/images/feat_slide5.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="~/Content/tempp/Sablon/listed/images/feat_slide6.jpg" class="grid image-link">
                        <img src="~/Content/tempp/Sablon/listed/images/feat_slide6.jpg" class="img-fluid" alt="#">
                    </a>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination-white"></div>

            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>

    </div>


    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h5>
                        @Model.PlaceName
                    </h5>
                    <p>
                        <span>$$$</span>$$
                    </p>
                    <p class="reserve-description">Innovative cooking, paired with fine wines in a modern setting.</p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-rating mx-0 mx-md-3">
                            <span>9.5</span>
                        </div>
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">RESERVE A SEAT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

        <section class="gray-dark booking-details_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 responsive-wrap">
                        <div class="booking-checkbox_wrap">
                            @*<div class="booking-checkbox">
                                <p>

                                </p>
                                <p>

                                </p>
                                <hr>
                            </div>*@
                            <h4>Özellikler</h4>
                            <hr>
                        @{
                            Html.RenderAction("Additionals", "Places", new { id = Model.PlaceId });
                        }
                        <hr>
                            <!--EK BİLGİİİİ !!-->
                            @*<div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Bike Parking</span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Wireless Internet </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Smoking Allowed </span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Street Parking</span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Special</span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <label class="custom-checkbox">
                                        <span class="ti-check-box"></span>
                                        <span class="custom-control-description">Accepts Credit cards</span>
                                    </label>
                                </div>
                            </div>*@
                        </div>

                        <!--YORUMMMM-->
                     
                         
                            <div class="booking-checkbox_wrap booking-your-review">
                                <h5>Yorum Yap</h5>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div class="customer-review_wrap">
                                        <div class="customer-img">
                                            <img src="images/avatar.jpg" class="img-fluid" alt="#">
                                        </div>
                                        <div class="customer-content-wrap">
                                            <div class="your-rating-wrap">
                                                <span>Your rating</span>
                                                <div class="customer-review">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span class="round-icon-blank"></span>

                                                </div>
                                            </div>
                                            <div class="your-comment-wrap">
                                                <textarea name="#" id="yorum" typeof="text" class="your-rating-content" placeholder="Enter Your Comments">
                </textarea>
                                                <h6 class="your-rating-notify">En fazla 140 karakter</h6>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 mr-auto">
                                                    <div class="add-photos-link mb-3 mb-md-0">
                                                        <a href="#">
                                                            <i class="icon-picture"></i>Add Photos
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="your-rating-btn">
                                                        <input type="submit" class="btn-danger btn-block" value="Gönder" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (!this.User.Identity.IsAuthenticated)
                                {

                                    <p> <a href="@Url.Action("Login", "Account")">Giriş Yap</a></p>
                                }
                            </div>
                     
                        <!--YorumListesi-->
                        <div class="booking-checkbox_wrap my-4">
                            <h4>Yorumlar</h4>
                            <hr />
                            @Html.Action("CommentList", "Places", new { id = Model.PlaceId });
                            < hr>
                        </div>
                    </div>


                    <div class="col-md-4 responsive-wrap">
                        <div class="contact-info">

                            <div class="address">
                                <span class="icon-location-pin"></span>
                                <p>
                                    @Model.Adress
                                    <br>@Model.City
                                    <br>@Model.County

                                </p>
                            </div>
                            <div class="address">
                                <span class="icon-screen-smartphone"></span>
                                <p> @Model.Phone</p>
                            </div>
                            <div class="address">
                                <span class="icon-link"></span>
                                @*<p>https://burgerandlobster.com</p>*@
                            </div>
                            <div class="address">
                                <span class="icon-clock"></span>
                                <p>@Model.OpenTime - @Model.CloseTime </p>
                                <a href="#" class="featured-open">Şimdi Açık</a>
                            </div>
                            <a href="#" class="btn btn-outline-danger btn-contact">Mesaj Gönder</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>








    <script src="~/Content/tempp/Sablon/listed/js/js/jquery-3.2.1.min.js"></script>

    <script src="~/Content/tempp/Sablon/listed/js/popper.min.js"></script>
    <script src="~/Content/tempp/Sablon/listed/js/js/bootstrap.min.js"></script>

    <script src="~/Content/tempp/Sablon/listed/js/js/jquery.magnific-popup.js"></script>

    <script src="~/Content/tempp/Sablon/listed/js/js/swiper.min.js"></script>






    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
</body>

<!-- Mirrored from demo.web3canvas.com/themeforest/listed/detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Mar 2019 06:46:09 GMT -->
