@model RestaurantBul.Models.AdditionalPlace

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdditionalPlace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Additional.AdditionalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional.AdditionalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.PlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.PlaceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
