@model IEnumerable<RestaurantBul.Models.CatPlace>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.PlaceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CatPlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CatPlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CatPlaceId })
        </td>
    </tr>
}

</table>
